
/* ESTILO SENCILLO Y TEMPORAL PARA PRUEBAS */

.reg-llaves {
    margin: 20px 0px 10px;
}

#UM {
    overflow: scroll;
    height: 300px;
    width: 90%;
}

form, #ACC {
    background-color: lightgray;
}

#th {
    background-color: gray;
}