

/* ESTILO SENCILLO Y TEMPORAL PARA PRUEBAS */

* {
    padding: 3px;
}

button {
    margin: 3px;
    margin-top: 20px;
}

#reg-llaves {
    margin: 20px 0px 10px;
}

#UM {
    overflow: scroll;
    height: 400px;
    width: 520px;
}

table{
    width: 500px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}